:root {
    --border-control-color: #dddde4;
    --border-control-hover: #b0b0b0;
    --border-control-focus: #A8D9C8;
    --theme-color: rgb(14, 154, 98);
    --ms-color-primary-light-default: #CDEADF;
}